<div [formGroup]="profileForm" class="formulario">
  <h2>Perfil 2FB</h2>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error *ngIf="profileForm.controls['nombre'].hasError('required')">
      Este campo es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <input matInput formControlName="apellidos" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="profileForm.controls['email'].hasError('required')">
      Este campo es obligatorio.
    </mat-error>
    <mat-error *ngIf="profileForm.controls['email'].hasError('email')">
      Introduzca un correo válido.
    </mat-error>
  </mat-form-field>

  <div formGroupName="direccion">
    <h2>Dirección</h2>

    <mat-form-field>
      <mat-label>Calle</mat-label>
      <input matInput formControlName="calle" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Localidad</mat-label>
      <input matInput formControlName="localidad" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Provincia</mat-label>
      <input matInput formControlName="provincia" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Código Postal</mat-label>
      <input matInput formControlName="codPostal" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="profileForm.invalid" (click)="onSubmit()">
    Enviar
  </button>
</div>
